- 100.times do
  .blind

.front
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/bear.png", :class => "bear figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/sheep.png", :class => "sheep figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/monster.png", :class => "monster figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/bat.png", :class => "bat figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/carp.png", :class => "carp figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/dinosaure.png", :class => "dinosaure figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/wardrobe.png", :class => "wardrobe figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/bed.png", :class => "bed figures"}
  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/46992/table.png", :class => "table figures"} 
  .back