@import url(http://fonts.googleapis.com/css?family=Tangerine);
html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}
#game {
	position:absolute;
	width:100%;
	height: 100%;
	background: #fff;
}

#game .body {
	stroke-width:5;
	stroke:#000000;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:3;
}
#game .head {
	fill:#000000;
}
#game .cell {
	cursor:pointer;
}
#bar {
	position:absolute;
	bottom: 10vh;
	left:50%;
	width: 100vmin;
	color: #000;
	font-size: 6vmin;
	font-weight:bold;
	cursor: pointer;
	font-family: 'Tangerine', cursive;
	user-select: none;
	-webkit-user-select: none;
	margin-left: -50vmin;
}
#reset {
	position: absolute;
	left: 10px;
}
#title {
	position: absolute;
	right: 10px;
	cursor: default;
}