html {
	overflow: hidden;
	touch-action: none;
	content-zooming: none;
}
body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background:#000;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#generate {
	position: absolute;
	margin: 10px;
	z-index: 1000;
	cursor: pointer;
	background: #000;
	line-height: 35px;
	border: #333 solid 3px;
	outline: none;
	color: #fff;
	font-size: 1em;
	border-radius: 1px;
}
#generate:hover {
	background: #555;
}