
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

html,
body {
	height: 100%;
}

body {
	font-family: 'Indie Flower', cursive;
	background-color: #293842;
	overflow: hidden;
}

.info {
	position: absolute;
	width: 100%;
	text-align: center;
	margin: 20px 0 10px;
	font-size: 2.2rem;
	color: #fff;
	
	&__tip {
		font-size: 55%;
	}
	
	@media (max-width: 700px) {
		font-size: 1.6rem;
	}
}

select {
	background: none;
	border: none;
	color: #a75151;
	appearance: none;
	text-align-last: center;
	
	&:focus {
		outline: none;
	}
}

svg {
	width: 100%;
	height: 100%;
}

#owl,
#raccoon,
#bear {
	visibility: hidden;
}
