body {
  background: #331d35;
  color: #dedede;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 20px;
  text-align: center;
}

.title {
  color: #fff;
  font-weight: 400;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
}

.main,
.topbar {
  width: 100%;
}

main {
  min-height: 150vh;
}

.topbar {
  display: flex;
}

.filter-group {
  flex-basis: calc(50% - 1rem);
  margin-right: 2.5rem;
  padding-left: 1rem;
}
.filter-group:last-child {
  margin-right: 0;
}

.filter-group__heading {
  margin-bottom: 1.8rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid #aeaeae;
  font-weight: 600;
  text-transform: uppercase;
}

.filters {
  padding-left: 0;
  list-style: none;
}

.filter {
  margin: 1rem 0;
}
.filter a {
  display: block;
  color: #dedede;
  text-decoration: none;
}

.grid {
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .grid {
    width: 600px;
    margin-top: -4.8rem;
    height: auto !important;
    perspective: 1500px;
  }
}
@media screen and (min-width: 1200px) {
  .grid {
    width: 800px;
    perspective: 1000px;
  }
}

.grid-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: 992px) {
  .grid-items {
    position: absolute;
    width: 100%;
    height: 700px;
    transform: rotate3d(1, 0, 0, 75deg) rotate3d(0, 1, 0, 0deg) rotate3d(0, 0, 1, 45deg);
    transform-style: preserve-3d;
  }
}

.grid-item {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 2rem;
  background: #fff;
}
.grid-item::after {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 20px;
  height: 20px;
  content: '';
}
@media screen and (min-width: 480px) {
  .grid-item {
    width: calc((100% / 2) - 2rem);
  }
}
@media screen and (min-width: 992px) {
  .grid-item {
    width: calc((100% / 3) - 2rem);
  }
}
@media screen and (min-width: 1200px) {
  .grid-item {
    width: calc((100% / 4) - 2rem);
  }
}

.grid-item--red:not(.grid-item--triangle)::after {
  background: #700;
}
.grid-item--red.grid-item--triangle::after {
  border-bottom: 20px solid #700;
}

.grid-item--blue:not(.grid-item--triangle)::after {
  background: #007;
}
.grid-item--blue.grid-item--triangle::after {
  border-bottom: 20px solid #007;
}

.grid-item--green:not(.grid-item--triangle)::after {
  background: #070;
}
.grid-item--green.grid-item--triangle::after {
  border-bottom: 20px solid #070;
}

.grid-item--circle::after {
  border-radius: 50%;
}

.grid-item--triangle::after {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  background: none;
}

.grid-item__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.grid-item__link::before {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform .3s, opacity .25s;
  background: #32255f;
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.grid-item__link:hover::before, .grid-item__link:focus::before {
  transform: translate3d(0, 0, 20px);
  opacity: 1;
}
