@mixin shadow {
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

$backgroundDark: #45163E;
$backgroundLight: #7D294E;
$backgroundHighlight: #B44659;
$backgroundActive: #F56356;
$textColor: white;

$menuSpeed: .5s;
$highlightSpeed: .3s;

/* Resets */
body, ul {
  margin: 0;
  padding: 0;
}

/* Decor */
body {
  background: $backgroundDark;
}

.drawer {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  padding: .4em 0;
  background: $backgroundLight;
  color: $textColor;
  text-align: center;
  
  /* Remove 4px gap between <li> */
  font-size: 0;
  
  li {
    pointer-events: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    line-height: 100%;
    transform: translateZ(0);
  }
  
  a {
    pointer-events: auto;
    position: relative;
    display: block;
    min-width: 5em;
    margin-bottom: .4em;
    padding: .4em;
    line-height: 100%;
    /* Reset font-size */
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: background $highlightSpeed;
    
    &:active,
    &:focus {
      background: $backgroundHighlight;
    }
  }
  
  i {
    display: block;
    margin-bottom: .2em;
    font-size: 2em;
  }
  
  span {
    font-size: .625em;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  li:hover ul {
    /* Open the fly-out menu */
    transform: translateX(0);
    background: $backgroundHighlight;
    /* Enable this if you wish to replicate hoverIntent */
    // transition-delay: .3s;
  }
  
  > li {
    display: block;
    
    > a {
      background: $backgroundLight;
    }
    
    &:hover {
      z-index: 100;
    }
    
    &:hover a {
      background: $backgroundHighlight;
    }
    
    a:hover {
      background: $backgroundActive;
    }
    
    /* Add a shadow to the top-level link */
    > a:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      width: 4px;
      opacity: 0;
      @include shadow();
      transition: opacity $menuSpeed;
    }
    
    /* Show the shadow when the link is hovered over */
    &:hover a:after {
      opacity: 1;
    }
    
    /* Fly out menus */
    ul {
      position: absolute;
      /* Stack below the top level */
      z-index: -1; 
      top: 0;
      left: 100%;
      height: 100%;
      width: auto;
      white-space: nowrap;
      /* Close the menus */
      transform: translateX(-100%);
      background: $backgroundHighlight;
      transition: $menuSpeed transform;
    }
  }
}



/**
 * Not required for demo
 */
@keyframes circle {
  50% {
    transform: scale(1.26923077);
  }
}

@keyframes initials {
  50% {
    transform: translateY(-8px) translateZ(0);
  }
}

.ild-ident {
  position: absolute;
  right: 20px;
  bottom: 20px;
  
  svg {
    overflow: visible;
    transform: translateZ(0);

    .circle-holder {
      transform: translate(-7px, -7px);
    }

    .circle {
      transform: translate(7px, 7px);
      fill: #7D294E;
    }

    &.active {
      .i {
        animation: initials .4s ease-in-out;
      }

      .l {
        animation: initials .4s .2s ease-in-out;
      }

      .circle {
        animation: circle .5s .1s ease-in-out;
      }
    }
  }
}