@import url(http://weloveiconfonts.com/api/?family=entypo);
* {
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(left, #fff5ab, #f4e182);
  background: linear-gradient(left, #fff5ab, #f4e182);
}

.phone {
  width: 400px;
  height: 640px;
  background: #221c37;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}
.phone .header {
  width: 100%;
  height: 70px;
  background: #9f1cfb;
  top: 0;
  padding: 20px;
  position: relative;
}
.phone .header .search {
  margin: 0 auto;
  width: 140px;
  border-radius: 20px;
  height: 35px;
  background: #b552ff;
}
.phone .header .like {
  position: absolute;
  height: 16px;
  width: 16px;
  right: 20px;
  top: 30px;
}
.phone .header .like svg {
  width: 100%;
  position: relative;
  left: 0;
  height: 16px;
  fill: #E8D1F9;
}
.phone .footer {
  position: absolute;
  bottom: 0;
  padding: 25px;
  width: 100%;
  left: 0;
  text-align: center;
}
.phone .footer i {
  position: relative;
  width: 100%;
}
.phone .footer .button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.phone .footer .delete {
  cursor: pointer;
  background-color: #4a4559;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.phone .footer .delete svg {
  position: absolute;
  fill: white;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 50%;
  margin-top: -15px;
}
.phone .footer .like {
  cursor: pointer;
  background-color: #ff2a64;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.phone .footer .like svg {
  position: absolute;
  fill: white;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  top: 50%;
  margin-top: -15px;
}

.cards-wrapper {
  position: absolute;
  top: 110px;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  z-index: 50;
}
.cards-wrapper li {
  background: white;
  width: 300px;
  height: 330px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.cards-wrapper li.open {
  cursor: default;
}
.cards-wrapper li:nth-child(1) {
  -webkit-transform: scale(0.6) translateY(-115px);
          transform: scale(0.6) translateY(-115px);
}
.cards-wrapper li:nth-child(2) {
  -webkit-transform: scale(0.7) translateY(-60px);
          transform: scale(0.7) translateY(-60px);
}
.cards-wrapper li:nth-child(3) {
  -webkit-transform: scale(0.8) translateY(-15px);
          transform: scale(0.8) translateY(-15px);
}
.cards-wrapper li:nth-child(4) {
  -webkit-transform: scale(0.9) translateY(25px);
          transform: scale(0.9) translateY(25px);
}
.cards-wrapper li:nth-child(5) {
  -webkit-transform: scale(1) translateY(60px);
          transform: scale(1) translateY(60px);
}
.cards-wrapper .card-header {
  top: 0;
  width: 100%;
  height: 95px;
  display: table;
  padding: 10px 20px;
}
.cards-wrapper .card-header .menu {
  display: table-cell;
  vertical-align: middle;
  color: white;
  opacity: 0;
  visibility: hidden;
}
.cards-wrapper .card-header .close {
  display: table-cell;
  color: white;
  text-align: right;
  vertical-align: middle;
  opacity: 0;
}
.cards-wrapper .card-header .close svg {
  position: relative;
  width: 16px;
  height: 16px;
  fill: white;
  cursor: pointer;
}
.cards-wrapper .card-content {
  text-align: center;
}
.cards-wrapper .card-content .circle {
  width: 100px;
  height: 100px;
  background: #d2d2d2;
  border-radius: 100%;
  margin-bottom: 35px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 35px;
}
.cards-wrapper .card-content .text {
  height: 18px;
  border-radius: 50px;
  background: #d2d2d2;
  margin: 15px auto;
  max-width: 140px;
}
.cards-wrapper .card-content .text:last-child {
  max-width: 85px;
}
.cards-wrapper .yellow .card-header {
  background: #f6e570;
}
.cards-wrapper .sky .card-header {
  background: #21ccff;
}
.cards-wrapper .blue .card-header {
  background: #0d0de9;
}
.cards-wrapper .green .card-header {
  background: #0edfb5;
}
.cards-wrapper .pink .card-header {
  background: #ef03fc;
}
