html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: radial-gradient(#555, #222);
}
.icosahedron {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform-origin: 100px 86.6px -152px;/* a x (0.5, V3/4, 0.76) */
}
.triangle,
.depth1,
.depth2 {
  overflow: hidden;
}
.triangle {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
  transform-origin: 0 0;
  border-top: solid 0px black;
}
.depth1 {
  height: 100%;
  width: 100%;
  transform: rotate(-30deg);
  position: absolute;
  transform-origin: 0 0;
  top: 0px;
  border-left: solid 0px rgba(0, 0, 0, 0.5);
}
.depth2 {
  height: 100%;
  width: 100%;
  background: none;
  transform-origin: 0 100%;
  transform: rotate(-30deg);
  border-bottom: solid 0px black;
  margin-top: 0px;
}
.vertex {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: none;
}

/* Faces displays */
.triangle1 .depth2 {
  
}
