$cards : 5;
$color : #4B8;
$delay : 1s;
$duration : .6s;

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
html {
  background:$color;
}
#cards {
  width:50px;
  margin:15% auto 0;
  position:relative;
  -webkit-animation: spread $duration $delay forwards ease-out;
  animation: spread $duration $delay forwards ease-out;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.card {
  -webkit-transform-origin: 0 120%;
  transform-origin: 0 120%;
  height:7em;
  width:5em;
  cursor:default;
  span {
    color:white;
    opacity:0;
    font-size:2em;
    margin:.1em;
    transition: all .3s;
  }
  border-radius:5px;
  -moz-border-radius:5px;
  border:2px solid white;
  position: absolute;
  background:$color;
  box-shadow:inset $color 100px 0;
  -moz-box-shadow:inset $color 100px 0;
  transition:all .2s;
  &:hover {
    box-shadow:inset rgba(255,255,255,.1) 100px 0;
    -moz-box-shadow:inset rgba(255,255,255,.1) 100px 0;
    span {
      opacity:.3;
    }
  }
  @for $i from 1 through $cards {
    &:nth-child(#{$i}) { 
      -webkit-animation: spread-#{$i} $duration $delay forwards ease-out;
      animation: spread-#{$i} $duration $delay forwards ease-out;
    }
  }
}

@-webkit-keyframes spread {
  to {
    -webkit-transform: rotate(-10deg); 
  }
}
@keyframes spread {
  to {
    transform: rotate(-10deg); 
  }
}

@for $i from 1 through $cards {
  @-webkit-keyframes spread-#{$i} {
    to {
      -webkit-transform: rotate(12deg * $i - 36); 
    }
  }
    @keyframes spread-#{$i} {
    to {
      transform: rotate(12deg * $i - 36); 
    }
  }
}