body {
  background: #242326;
}

svg {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.yes, .no, #movie, #animation, #fragment, #video-2 {
  cursor: pointer;
}

#graphic path {
  fill:none;
  stroke: #468391;
}