.container.full-screen
  section.row
    h1.title Info Cards
    hr
    .col-xs-8.col-xs-offset-2
      p.lead.text-center A set of cards made to display an extract of information. When you hover, it displays a title, paragraph and button with transition effects.
      hr
  .row
    article.col-xs-4
      .cards
        span.glyphicon.glyphicon-flash.icon
        hr.divider
        h2.title First
        div.info
          hr.divider
          p.lead Are you ready see the next page and be amazed of what you can find?
          a.btn.btn-lg.center-block Go get it!
    
    article.col-xs-4
      .cards
        span.glyphicon.glyphicon-bookmark.icon
        hr.divider
        h2.title Second
        div.info
          hr.divider
          p.lead Are you ready to see the next page and be amazed of what you can find?
          a.btn.btn-lg.center-block Go get it!

    article.col-xs-4
      .cards
        span.glyphicon.glyphicon-ice-lolly-tasted.icon
        hr.divider
        h2.title Last
        div.info
          hr.divider
          p.lead Are you ready to go to the next page and be amazed of what you can find?
          a.btn.btn-lg.center-block Go get it!