html,
body,
.avatar {
  position: absolute;
  width: 100%;
  height: 100%;
}
body {
  background: -webkit-linear-gradient(335deg, #00ced1, #191970) no-repeat fixed;
  background: linear-gradient(115deg, #00ced1, #191970) no-repeat fixed;
}
.avatar {
  z-index: 800;
}
.avatar path {
  stroke: #e1afff;
  stroke-width: 0.15;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: all 6s ease;
  transition: all 6s ease;
  -webkit-transform: translate(0);
          transform: translate(0);
}
.avatar path:nth-of-type(4n+1) {
  -webkit-animation: p1 3s ease 1;
          animation: p1 3s ease 1;
}
.avatar path:nth-of-type(4n+2) {
  -webkit-animation: p2 3s ease 1;
          animation: p2 3s ease 1;
}
.avatar path:nth-of-type(4n+3) {
  -webkit-animation: p3 3s ease 1;
          animation: p3 3s ease 1;
}
.avatar path:nth-of-type(4n+4) {
  -webkit-animation: p4 3s ease 1;
          animation: p4 3s ease 1;
}
.hover {
  position: absolute;
  width: 40%;
  height: 40vw;
  top: 50%;
  left: 30%;
  margin-top: -20vw;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  background: rgba(0,0,0,0);
  -webkit-animation: waitforit 0 ease-in 3s 1 forwards;
          animation: waitforit 0 ease-in 3s 1 forwards;
}
.hover:hover + .avatar path:nth-of-type(4n+1) {
  -webkit-transform: translate(800%, 400%) rotate(-690deg) translateZ(0);
          transform: translate(800%, 400%) rotate(-690deg) translateZ(0);
}
.hover:hover + .avatar path:nth-of-type(4n+2) {
  -webkit-transform: translate(-700%, 600%) rotate(-720deg) translateZ(0);
          transform: translate(-700%, 600%) rotate(-720deg) translateZ(0);
}
.hover:hover + .avatar path:nth-of-type(4n+3) {
  -webkit-transform: translate(-900%, -500%) rotate(-820deg) translateZ(0);
          transform: translate(-900%, -500%) rotate(-820deg) translateZ(0);
}
.hover:hover + .avatar path:nth-of-type(4n+4) {
  -webkit-transform: translate(700%, -800%) rotate(-950deg) translateZ(0);
          transform: translate(700%, -800%) rotate(-950deg) translateZ(0);
}
@-webkit-keyframes p1 {
  0% {
    -webkit-transform: translate(-300%, -700%) rotate(520deg) translateZ(0);
            transform: translate(-300%, -700%) rotate(520deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes p1 {
  0% {
    -webkit-transform: translate(-300%, -700%) rotate(520deg) translateZ(0);
            transform: translate(-300%, -700%) rotate(520deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes p2 {
  0% {
    -webkit-transform: translate(400%, -900%) rotate(850deg) translateZ(0);
            transform: translate(400%, -900%) rotate(850deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes p2 {
  0% {
    -webkit-transform: translate(400%, -900%) rotate(850deg) translateZ(0);
            transform: translate(400%, -900%) rotate(850deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes p3 {
  0% {
    -webkit-transform: translate(500%, 900%) rotate(325deg) translateZ(0);
            transform: translate(500%, 900%) rotate(325deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes p3 {
  0% {
    -webkit-transform: translate(500%, 900%) rotate(325deg) translateZ(0);
            transform: translate(500%, 900%) rotate(325deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes p4 {
  0% {
    -webkit-transform: translate(-500%, 900%) rotate(748deg) translateZ(0);
            transform: translate(-500%, 900%) rotate(748deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes p4 {
  0% {
    -webkit-transform: translate(-500%, 900%) rotate(748deg) translateZ(0);
            transform: translate(-500%, 900%) rotate(748deg) translateZ(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes waitforit {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes waitforit {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
