{
:origin [
	{:name "Ismeretlen" :description "Homály fedi kilétem"
	 :inventory ["Smaragd nyakék"]
	}
	{:name "Koldus" :description "A szerencse forgandó"
	 :inventory ["Persely" "Olcsó bor"]
	}
	{:name "Falusi" :description "Értek egy s máshoz"
	 :inventory ["Fejsze" "Tarisznya" "Bakancs"]
	}
	{:name "Polgári" :description "Okos vagyok, ez nem kérdés"
	 :inventory ["Szemüveg" "Kalap"]
	}
	{:name "Nemesi" :description "Nincs gondom a pénzzel"
	 :inventory ["Arany zsebóra" "Levél a királytól"]
	}
	{:name "Időutazó" :description "Hogy kerültem ide?"
	 :inventory []
	}]

:personality [
	{:name "Főgonosz" :theory [1 1 1 1 1]
	 :inventory ["Fontos papírok"]
	 :description "Mindent átszövő titkos terve van."}
	{:name "Stratéga" :theory [1 1 1 1 0]
	 :inventory ["Térkép"]
	 :description "Előtte nincs lehetetlen."}
	{:name "Gondolkodó" :theory [1 1 1 0 1]
	 :inventory ["Szabadalom"]
	 :description "Folyton kitalál valamit."}
	{:name "Tudós" :theory [1 1 1 0 0]
	 :inventory ["Szabadalom"]
	 :description "Folyton kitalál valamit."}
	{:name "Erős akaratú" :theory [0 1 1 1 1]
	 :inventory ["Parancsnoki jelvény"]
	 :description "Követik az emberek, hiszen miért ne.."}
	{:name "Vezér" :theory [0 1 1 1 0]
	 :inventory ["Parancsnoki jelvény"]
	 :description "Követik az emberek, hiszen miért ne.."}
	{:name "Lázadó" :theory [0 1 1 0 1]
	 :inventory ["Cifra ruha"]
	 :description "Egyedül a világ ellen"}
	{:name "Feltaláló" :theory [0 1 1 0 0]
	 :inventory ["Szabadalom"]
	 :description "Egyedül a világ ellen"}
	{:name "Titokzatos" :theory [1 1 0 1 1]
	 :inventory ["Varázsgömb"]
	 :description "Csendes és inspiráló."}
	{:name "Mester" :theory [1 1 0 1 0]
	 :inventory ["Varázsgömb"]
	 :description "Csendes és inspiráló."}
	{:name "Idealista" :theory [1 1 0 0 1]
	 :inventory ["Palást"]
	 :description "Mindig kész tenni a jó ügy érdekében."}
	{:name "Idealista" :theory [1 1 0 0 0]
	 :inventory ["Palást"]
	 :description "Mindig kész tenni a jó ügy érdekében."}
	{:name "Karizmatikus" :theory [0 1 0 1 1]
	 :inventory ["Vörös palást"]
	 :description "Hallgatóságát képes teljesen lenyűgözni."}
	{:name "Tanító" :theory [0 1 0 1 0]
	 :inventory ["Vörös palást"]
	 :description "Hallgatóságát képes teljesen lenyűgözni."}
	{:name "Hősies" :theory [0 1 0 0 1]
	 :inventory ["Korsó"]
	 :description "Társaságkedvelő szabad lélek."}
	{:name "Legendás" :theory [0 1 0 0 0]
	 :inventory ["Korsó"]
	 :description "Társaságkedvelő szabad lélek."}
	{:name "Oltalmazó" :theory [1 0 1 1 1]
	 :inventory ["Lakat"]
	 :description "Praktikus, tényeket kedvelő személy."}
	{:name "Oltalmazó" :theory [1 0 1 1 0]
	 :inventory ["Lakat"]
	 :description "Praktikus, tényeket kedvelő személy."}
	{:name "Rendíthetetlen" :theory [1 0 0 1 1]
	 :inventory ["Rozsdás vért"]
	 :description "Minden körülmények között.."}
	{:name "Rendíthetetlen" :theory [1 0 0 1 0]
	 :inventory ["Rozsdás vért"]
	 :description "Minden körülmények között.."}
	{:name "Elöljáró" :theory [0 0 1 1 1]
	 :inventory ["Királyi felhatalmazás"]
	 :description "A hagyomány és a rend képviselője."}
	{:name "Elöljáró" :theory [0 0 1 1 0]
	 :inventory ["Királyi felhatalmazás"]
	 :description "A hagyomány és a rend képviselője."}
	{:name "Jószívű" :theory [0 0 0 1 1]
	 :inventory ["10 ezüst"]
	 :description "Mindig kész másokon segíteni."}
	{:name "Jószívű" :theory [0 0 0 1 0]
	 :inventory ["10 ezüst"]
	 :description "Mindig kész másokon segíteni."}
	{:name "Virtuóz" :theory [1 0 1 0 1]
	 :inventory ["Faragó kés"]
	 :description "A szerszámok mestere."}
	{:name "Virtuóz" :theory [1 0 1 0 0]
	 :inventory ["Faragó kés"]
	 :description "A szerszámok mestere."}
	{:name "Művészi" :theory [1 0 0 0 1]
	 :inventory ["Lant"]
	 :description "Mindig kész új dolgokat felfedezni."}
	{:name "Művészi" :theory [1 0 0 0 0]
	 :inventory ["Lant"]
	 :description "Mindig kész új dolgokat felfedezni."}
	{:name "Kalandvágyó" :theory [0 0 1 0 1]
	 :inventory ["Nyúlcipő"]
	 :description "Imádja a veszélyes kalandokat."}
	{:name "Kalandvágyó" :theory [0 0 1 0 0]
	 :inventory ["Nyúlcipő"]
	 :description "Imádja a veszélyes kalandokat."}
	{:name "Spontán" :theory [0 0 0 0 1]
	 :inventory ["Teleport bigyó"]
	 :description "Körülötte mindig pezseg az élet."}
	{:name "Spontán" :theory [0 0 0 0 0]
	 :inventory ["Teleport bigyó"]
	 :description "Körülötte mindig pezseg az élet."}
]

:role [
{	:name "Lovag"
	:description ""
	:inventory ["Acél kard" "Lovagi torna jegy"]
	:skills ["Kitartás""Izomzat""Bátorság"]}
{	:name "Barbár"
	:description ""
	:inventory ["Ágyékkötő" "Szöges dorong"]
	:skills ["Kitartás""Izomzat""Bátorság"]}
{	:name "Erdész"
	:description ""
	:inventory ["Vadász íj" "Páva tollas kalap" "Síp"]
	:skills ["Kitartás""Izomzat""Gyorsaság"]}
{	:name "Bérgyilkos"
	:description ""
	:inventory ["Köpőcső" "Kötél"]
	:skills ["Ügyesség""Összpontosítás""Bölcsesség"]}
{	:name "Remete"
	:description ""
	:inventory ["Egy kő" "Csuha"]
	:skills ["Kitartás""Gyorsaság""Összpontosítás"]}
{	:name "Pap"
	:description ""
	:inventory ["Biblia" "Szentelt víz"]
	:skills ["Értelem""Szerencse""Hatodik érzék"]}
{	:name "Íjász"
	:description ""
	:inventory ["Görbe íj" "34 nyílvessző"]
	:skills ["Ügyesség""Gyorsaság""Összpontosítás"]}
{	:name "Illúzionista"
	:description ""
	:inventory ["Éles kártyapakli" "Nyúl a kalapban"]
	:skills ["Gyorsaság""Szerencse""Összpontosítás"]}
{	:name "Alkimista"
	:description ""
	:inventory ["Hókuszpókusz" "3 kémcső"]
	:skills ["Értelem""Szerencse""Összpontosítás"]}
{	:name "Kalmár"
	:description ""
	:inventory ["Beakadós pisztoly" "Rozsdás tőr"]
	:skills ["Értelem""Szerencse""Bátorság"]}
{	:name "Árnyék"
	:description ""
	:inventory ["Árnylepel" "Mérgezett tőr"]
	:skills ["Gyorsaság""Bátorság""Hatodik érzék"]}
{	:name "Holtidéző"
	:description ""
	:inventory ["Csuklya" "Varázsbot"]
	:skills ["Összpontosítás""Bátorság""Hatodik érzék"]}
{	:name "Időutazó"
	:description ""
	:inventory ["Benzines Láncfűrész" "1l benzin"]
	:skills ["Értelem""Szerencse""Bátorság"]}
{	:name "Alakváltó"
	:description ""
	:inventory ["Arctalanok köpönyege"]
	:skills ["Gyorsaság""Összpontosítás""Hatodik érzék"]}
{	:name "Mágus"
	:description ""
	:inventory ["Könyvtárjegy" "Okkult bigyó"]
	:skills ["Értelem""Összpontosítás""Hatodik érzék"]}]



:skill [
{	:name "Kitartás"
	:description "Minden harc célja megtörni az ellenfél kitartását."
	:key "KTR"}
{	:name "Izomzat"
	:description "Növeli a harcosok sebzését, bányászáshoz, favágáshoz és még jó sok mindenhez alapkövetelmény."
	:key "IZM"}
{	:name "Gyorsaság"
	:description "Minél gyorsabb vagy annál többször sebezhetsz ellenfelednek."
	:key "GYR"}
{	:name "Ügyesség"
	:description "Nem minden fegyver használata olyan magától értetődő, ügyesnek kell lenned, hogy jól bánj az íjjal."
	:key "UGY"}
{	:name "Értelem"
	:description "Nem követelmény, de nem árt ha felfogod mit kell csinálni küldetés közben."
	:key "ERT"}
{	:name "Bölcsesség"
	:description "Bizonyos mágikus tekercsek elolvasásához nem elég az értelem.."
	:key "BOL"}
{	:name "Bátorság"
	:description "Növekszik ha nálad erősebb ellenfelekkel állsz ki vagy kockáztatsz valamivel. Bizonyos küldetéseket csak az igazán bátrak vállalhatnak el.."
	:key "BAT"}
{	:name "Szerencse"
	:description "Mit érnek a fegyverek, ha peches vagy öreg?"
	:key "SZE"}
{	:name "Összpontosítás"
	:description "Fontos a harcművészetekhez, a szakértelmekhez, mindenféle tanuláshoz és kisebb esélye van annak, hogy elrontasz dolgokat."
	:key "OSZ"}
{	:name "Hatodik érzék"
	:description "Lehetetlen használni a mágiát vagy védekezni ellene, ha észre sem veszed amikor történik a varázslat."
	:key "HAT"}
{	:name "Szépség"
	:description "Semmit nem számít..."
	:key "SEP"}]


:profession [
{	:name "Kézművesség"
	:description ""
	:key "KZM"}
{	:name "Ékszerkészítés"
	:description ""
	:key "EKS"}
{	:name "Kovácsolás"
	:description ""
	:key "KOV"}
{	:name "Halászat"
	:description ""
	:key "HAL"}
{	:name "Favágás"
	:description ""
	:key "FAV"}
{	:name "Idomítás"
	:description ""
	:key "IDO"}
{	:name "Gazdálkodás"
	:description ""
	:key "GAZ"}
{	:name "Bányászás"
	:description ""
	:key "BNY"}
{	:name "Zenélés"
	:description ""
	:key "ZEN"}
{	:name "Kincskeresés"
	:description ""
	:key "KCS"}
{	:name "Fosztogatás"
	:description ""
	:key "FSZ"}
{	:name "Kéregetés"
	:description ""
	:key "KER"}
{	:name "Fejvadászat"
	:description ""
	:key "FEJ"}
{	:name "Politizálás"
	:description ""
	:key "POL"}]
}
