body {
  background:#2196F3;
  h1 {
    position: fixed;
    text-align:center;
    bottom:10px;
    left:30px;
    color:white;
    font-size: 20px;
    font-family: Roboto;
    font-weight: normal;
    z-index:999;
    span{
      font-size:15px;
      font-weight: lighter;
    }
    a{
      color:white;
      font-size:15px;
      padding: 0 30px

    }
  }
}
#notFound {
  position: fixed;
  top:50%;
  left:50%;
  transform:translateY(-50%) translateX(-50%) scale(1.2);
  width:80%;
  height:auto;
  
}