$ease-hard: cubic-bezier(.08,.91,.08,.93);
$orange: #ff592c;
$green: #38c159;

*{box-sizing: border-box}

html,
body{
  margin: 0;
  height: 100%;
  font-smoothing: antialiased;
}

body {
  font: 18px 'Roboto';
/*  background: linear-gradient(225deg,#2f2b6d,#1f0230);*/
  background: linear-gradient(225deg,rgba(80,0,50,0.4),rgba(0,20,80,0.8)), url(http://wallpaperpanda.com/wallpapers/aid/yEe/aidyEeGiG.png) no-repeat center center;
  background-size: cover;
/*  background-blend-mode: screen;*/
  
  &.shake {
    animation: shake 0.15s linear 3;
  }
}

.battle-field {
  position: relative;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

.player {
  left: 100px;
}
.enemy {
  right: 100px;
}

.enemy,
.player{
  position: absolute;
  top: 50%;
  width: 90px;
  height: 90px;
  margin-top: -25px;
  
  .health-bar {
    position: relative;
    height: 5px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #e03e28;
    
    .health {
      position: absolute;
      left: 0;
      top: 0;
      height: inherit;
      width: 100%;
      background-color: #38c159;
      transform: translate3d(0,0,0);
      transition: width 0.3s $ease-hard;
    }
  }
  
  img {
    width: inherit;
    margin-top: 5px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  span {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
    font-weight: 900;
    
    &.damage {
      color: #fff;
      font-size: 36px;
      text-stroke: 1px black;
      animation: damageFly 1s $ease-hard 0.15s 1;
    }
    
    &.crit,
    &.dodge,
    &.stun{
      top: -5px;
      font-size: 24px;
      text-tranform: uppercase;
      animation: damageFly 1s $ease-hard 1;
    }
    
/*    &.crit ~ .attack-anim::before{
      border-bottom: 120px solid red;
    }*/
    
    &.heal {
      color: $green;
      font-size: 36px;
      text-stroke: 1px darken($green, 42%);
      animation: damageFly 1s $ease-hard 0.15s 1;
    }
    
    &.fire-wep,
    &.fire{
      color: $orange;
      font-size: 36px;
      text-stroke: 1px darken($orange, 42%);
    }
    
    &.fire {
      animation: damageFly 1s $ease-hard 0.15s 1;
    }
    
    &.ice-wep,
    &.ice{
      color: rgb(0,155,255);
      font-size: 36px;
      text-stroke: 1px darken(rgb(0,155,255), 42%);
    }
    
    &.ice {
      animation: damageFly 1s $ease-hard 0.15s 1;
    }
    
    &.crit {
      color: red;
    }
    
    &.dodge {
      color:#fff;
      text-stroke: 1px black;
    }
    &.stun {
      color: yellow;
      text-stroke: 1px darken(yellow, 45%);
    }
  }
}

.slash-anim,
.triple-slash{
  &:before {
    position: absolute;
    content:"";
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 3;
    width: 0px;
    height: 0px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 120px solid #fff;
    transform: rotateZ(45deg);
    animation: attackSlash 0.5s $ease-hard 1;
  }
}

.triple-slash {
  &:before {
    box-shadow: 10px -10px 0 #fff, -10px -10px 0 #fff;
  }
}

.nova {
  img {
    animation: nova 1s $ease-hard 1, shake 0.15s linear 3;
  }
}

.meteors {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 2;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  background-color: $orange;
  border-radius: 50%;
  animation: meteors 0.75s ease-in 1;
}

.stunned {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: 4px dashed yellow;
  border-radius: 50%;
  animation: stunrotate 1.5s linear infinite;
}

.controls {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  width: 220px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  
  li {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    padding: 8px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    cursor: pointer;
    
    &:active {
      transform: translateY(2px);
    }
    
    &:last-child {
      margin-right: 0px;
    }
  }
}

.attack {
  background: url(http://img2.wikia.nocookie.net/__cb20121102071610/vanilla-wow/images/3/37/Ui-charactercreate-classes_warrior.png) no-repeat center center;
}

.frost-nova {
  background: url(http://img2.wikia.nocookie.net/__cb20070106005340/wowwiki/images/b/ba/Spell_frost_frostnova.png) no-repeat center center;
}

.ice-shield {
  background: url(http://img3.wikia.nocookie.net/__cb20060930051026/wowwiki/images/a/a0/Spell_frost_chillingarmor.png) no-repeat center center;
}

.attack,
.frost-nova,
.ice-shield {
  background-size: cover;
}

.cooldown {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: inherit;
  height: inherit;
  background-color: rgba(0,0,0,.75);
  transform: translateY(100%);
}

.ice-armor {
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      width: 90px;
      height: 90px;
/*      background-color: rgba(0,155,255,0.25);*/
      border-radius: 50%;
      animation: icearmor 1s linear infinite, rotate 0.75s linear infinite;
    }
}

@keyframes attackSlash {
  0% {
    transform: translate3d(50px,-50px,0) rotateZ(45deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(-20px,20px,0) rotateZ(45deg);
    opacity: 0;
  }
}

@keyframes damageFly {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
  }
  
  75%{
    opacity: 1;
  }
  
  100% {
    transform: translateX(0px) translateY(-80px) translateZ(0px);
    opacity: 0;
  }
}

@keyframes selected {
  0% {
    border: 2px solid rgba(0,155,255,1);
  }
  50% {
    border: 2px solid rgba(0,155,255,.25);
  }
  100% {
    border: 2px solid rgba(0,155,255,1);
  }
}

@keyframes nova {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0,155,255,0);
  }
  
  60% {
    box-shadow: 0px 0px 0px 20px rgba(0,155,255,1), 0px 0px 0px 0px rgba(0,155,255,1), 0px 0px 0px 0px rgba(0,155,255,1), 0px 0px 0px 0px rgba(0,155,255,1);;
  }
  100% {
    box-shadow: 0px 0px 0px 60px rgba(0,155,255,0), -40px 20px 0px 60px rgba(0,155,255,0), 40px -20px 0px 60px rgba(0,155,255,0), 0px -40px 0px 60px rgba(0,155,255,0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-7px);
  }
  
  66% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes meteors {
  0% {
    transform: translate3d(200px,-400px,0);
    box-shadow: 0 0 0 0 #fff;
  }
  60% {
    box-shadow: 0 0 0 0px #fff;
    background-color: $orange;
  }
  70% {
    transform: translate3d(0px,0px,0);
    box-shadow: 0 0 0 60px #fff;
    background-color: #fff;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 100px $orange;
    color: $orange;
    opacity: 0;
  }
}

@keyframes stunrotate {
  0% {
    transform: rotateX(70deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(70deg) rotateZ(360deg);
  }
}

@keyframes icearmor {
  0% {
    box-shadow: -10px 0px 0px 3px rgba(0,155,255,0.25), 0px 0px 0px 3px rgba(0,155,255,0.25), 10px 0px 0px 3px rgba(0,155,255,0.25);
  }
  100% {
    box-shadow: 10px 0px 0px 3px rgba(0,155,255,0.25), 0px 0px 0px 9px rgba(0,155,255,0.25), -10px 0px 0px 3px rgba(0,155,255,0.25);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}