header
  h1 weather cards

ul.grid-container
  li.grid-item
    div.card.card-night
      div.night
    div.status
      p 71 &#8457;
      p Clear skies
  li.grid-item
    div.card.card-rain
      div.rain
    div.status
      p 71 &#8457;
      p Showers
  li.grid-item
    div.card.card-snow
      div.snow
    div.status
      p 71 &#8457;
      p Light flurry
  li.grid-item
    div.card.card-storm
      div.storm
    div.status
      p 71 &#8457;
      p Thunderstorms
  li.grid-item
    div.card.card-sunny
      div.sunny
    div.status
      p 71 &#8457;
      p Mostly sunny