@import "compass/css3";

/**
 * Keyframes.
 */
@-webkit-keyframes rise {
  0% { margin-top: 100%; }
  50% { opacity: 1; }
  90% { opacity: 0; }
  100% { margin-top: -50px; opacity: 0; }
}

@keyframes rise {
  0% { margin-top: 100%; }
  50% { opacity: 1; }
  90% { opacity: 0; }
  100% { margin-top: -50px; opacity: 0; }
}

@-webkit-keyframes sway {
  0% { margin-left: 0; }
  20% { margin-left: -36px; }
  25% { margin-left: -40px; }
  70% { margin-left: 36px; }
  75% { margin-left: 40px; }
  100% { margin-left: 0; }
}

@keyframes sway {
  0% { margin-left: 0; }
  20% { margin-left: -28px; }
  25% { margin-left: -30px; }
  70% { margin-left: 28px; }
  75% { margin-left: 30px; }
  100% { margin-left: 0; }
}

$bubbles : 40;

body {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  
  @include background-image(linear-gradient(top, #fff 0%, #fff 59%, #b3efc1 100%));
  @include filter-gradient(#fff, #b3efc1, vertical);
}

.wrapper {
  -webkit-animation: sway 8s ease-in-out infinite;
  animation: sway 8s ease-in-out infinite;
  position: relative;
}

@for $i from 1 to $bubbles {
  $delay : random(10)/2;
  .wrapper-#{$i} {
    -webkit-animation-delay: #{$delay}s;
    animation-delay: #{$delay}s;
  }
}

.circle {
  background-color: #1a3;
  opacity: 1;
  position: absolute;
  
  @include border-radius(50%);
}

@for $i from 1 to $bubbles {
  $left : random(100);
  $random : random(10) + 5;
  $top : random(200);
  $size : random(40) + 10;

  .circle-#{$i} {
    -webkit-animation: rise #{$random/2}s linear infinite;
    animation: rise #{$random/2}s linear infinite;
    height: #{$size}px;
    left: calc(#{$left}%);
    top: calc(100% + #{$top}px);
    width: #{$size}px;
  }
}