@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:700);
html, body {
  height: 100%;
}

p, h1 {
  font-family: "Libre Baskerville", serif;
  color: #292929;
}

p {
  margin: 10px 0;
  font-size: 13px;
}

h1 {
  margin: 15px 0;
  font-size: 18px;
}

body {
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 840px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: #ff9300;
}

.read {
  margin-top: 60px;
  font-family: "Montserrat", san-serif;
  font-size: 20px;
  font-weight: bold;
  color: #141414;
  text-transform: uppercase;
}

.book {
  width: 800px;
  height: 500px;
  position: relative;
}
.book .cover {
  position: absolute;
  height: 100%;
  background-color: #45200D;
}
.book .cover.left, .book .cover.right {
  width: 45%;
}
.book .cover.left {
  border: none;
  border-radius: 5px 20px 20px 5px / 5px 3.33333px 3.33333px 5px;
  left: 0;
}
.book .cover.right {
  border: none;
  border-radius: 20px 5px 5px 20px / 3.33333px 5px 5px 3.33333px;
  right: 0;
}
.book .cover.spine {
  border: none;
  border-radius: 20px/3.33333px;
  height: 100%;
  width: 10%;
  left: 50%;
  margin-left: -5%;
}
.book .page {
  position: absolute;
  background-color: #CFC7A2;
  height: auto;
  top: 0;
  bottom: 0;
  margin-top: -8px;
  margin-bottom: -8px;
  padding: 20px 30px;
}
.book .page.left {
  border-top-right-radius: 25% 20px;
  border-top-left-radius: 100% 20px;
  border-bottom-right-radius: 25% 20px;
  border-bottom-left-radius: 100% 20px;
  margin-left: 40px;
  left: 0;
  right: 50%;
  background-image: linear-gradient(to left, #beb380, #cfc7a2 15%);
}
.book .page.left:before {
  content: "";
  display: block;
  position: absolute;
  height: auto;
  width: 30px;
  background-color: #CFC7A2;
  margin-top: 16px;
  margin-bottom: 16px;
  top: 0;
  bottom: 0;
  margin-left: -30px;
  left: 0;
  border-top-left-radius: 200% 10px;
  border-bottom-left-radius: 200% 10px;
  box-shadow: inset -8px 0 4px -4px #beb380, inset -10px 0 0 -1px #CFC7A2, inset -14px 0 1px -2px #beb380, inset -18px 0 0 -1px #CFC7A2, inset -22px 0 1px -2px #beb380, inset -26px 0 0 -1px #CFC7A2, inset -30px 0 1px -2px #beb380;
}
.book .page.right {
  border-top-left-radius: 25% 20px;
  border-top-right-radius: 100% 20px;
  border-bottom-left-radius: 25% 20px;
  border-bottom-right-radius: 100% 20px;
  margin-right: 40px;
  left: 50%;
  right: 0;
  background-image: linear-gradient(to right, #d8d1b3, #cfc7a2 5%);
}
.book .page.right:before {
  content: "";
  display: block;
  position: absolute;
  height: auto;
  width: 12px;
  top: 0;
  bottom: 0;
  margin-left: -28px;
  margin-top: 6px;
  margin-bottom: -25px;
  border-top-left-radius: 100% 5px;
  border-bottom-left-radius: 100% 10px;
  background-color: #520000;
}
.book .page.right:after {
  content: "";
  display: block;
  position: absolute;
  height: auto;
  width: 30px;
  background-color: #CFC7A2;
  margin-top: 16px;
  margin-bottom: 16px;
  top: 0;
  bottom: 0;
  margin-right: -30px;
  right: 0;
  border-top-right-radius: 200% 10px;
  border-bottom-right-radius: 200% 10px;
  box-shadow: inset 8px 0 4px -4px #beb380, inset 10px 0 0 -1px #CFC7A2, inset 14px 0 1px -2px #beb380, inset 18px 0 0 -1px #CFC7A2, inset 22px 0 1px -2px #beb380, inset 26px 0 0 -1px #CFC7A2, inset 30px 0 1px -2px #beb380;
}
