@import url(http://fonts.googleapis.com/css?family=Raleway:300);
.dice-container {
  width: 300px;
  height: 300px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.2s ease 0;
  transition: -webkit-transform 0.2s ease 0;
  transition: transform 0.2s ease 0;
  transition: transform 0.2s ease 0, -webkit-transform 0.2s ease 0;
}
.dice-container:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
#dice {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
#dice figure {
  width: 198px;
  height: 198px;
  display: block;
  position: absolute;
  border: 1px solid #000;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 200px;
  font-size: 60px;
  background-color: #FFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#dice .front {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
  background-image: url('http://alexerlandsson.com/uploads/codepen/dice/dice_one.png');
}
#dice .back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
          transform: rotateX(180deg) translateZ(100px);
  background-image: url('http://alexerlandsson.com/uploads/codepen/dice/dice_six.png');
}
#dice .right {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
  background-image: url('http://alexerlandsson.com/uploads/codepen/dice/dice_four.png');
}
#dice .left {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
  background-image: url('http://alexerlandsson.com/uploads/codepen/dice/dice_three.png');
}
#dice .top {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
  background-image: url('http://alexerlandsson.com/uploads/codepen/dice/dice_two.png');
}
#dice .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
  background-image: url('http://alexerlandsson.com/uploads/codepen/dice/dice_five.png');
}
#dice.show-front {
  -webkit-transform: translateZ(-100px) rotateY(0deg);
          transform: translateZ(-100px) rotateY(0deg);
}
#dice.show-back {
  -webkit-transform: translateZ(-100px) rotateX(-180deg);
          transform: translateZ(-100px) rotateX(-180deg);
}
#dice.show-right {
  -webkit-transform: translateZ(-100px) rotateY(-90deg);
          transform: translateZ(-100px) rotateY(-90deg);
}
#dice.show-left {
  -webkit-transform: translateZ(-100px) rotateY(90deg);
          transform: translateZ(-100px) rotateY(90deg);
}
#dice.show-top {
  -webkit-transform: translateZ(-100px) rotateX(-90deg);
          transform: translateZ(-100px) rotateX(-90deg);
}
#dice.show-bottom {
  -webkit-transform: translateZ(-100px) rotateX(90deg);
          transform: translateZ(-100px) rotateX(90deg);
}
#dice.show-same {
  -webkit-transform: translateZ(-100px) rotateX(360deg);
          transform: translateZ(-100px) rotateX(360deg);
}
/* Base Style */
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  background-color: #24262C;
  color: #555;
  font-family: 'Raleway', sans-serif;
}
#instructions {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.5vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
footer a {
  color: #555;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: color 0.2s ease 0;
  transition: color 0.2s ease 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
footer a:hover {
  color: #CCC;
}
button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 50%;
  color: #555;
  width: 30px;
  height: 30px;
  font-size: 16px;
  -webkit-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
}
button:hover {
  color: #CCC;
  border-color: #CCC;
}
button:focus {
  outline: none;
}
