* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  background: #4B8;
}

#cards {
  width: 50px;
  margin: 15% auto 0;
  position: relative;
  -webkit-animation: spread 0.6s 1s forwards ease-out;
  animation: spread 0.6s 1s forwards ease-out;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.card {
  -webkit-transform-origin: 0 120%;
  transform-origin: 0 120%;
  height: 7em;
  width: 5em;
  cursor: default;
  border-radius: 5px;
  -moz-border-radius: 5px;
  border: 2px solid white;
  position: absolute;
  background: #4B8;
  box-shadow: inset #4B8 100px 0;
  -moz-box-shadow: inset #4B8 100px 0;
  transition: all .2s;
}
.card span {
  color: white;
  opacity: 0;
  font-size: 2em;
  margin: .1em;
  transition: all .3s;
}
.card:hover {
  box-shadow: inset rgba(255, 255, 255, 0.1) 100px 0;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 100px 0;
}
.card:hover span {
  opacity: .3;
}
.card:nth-child(1) {
  -webkit-animation: spread-1 0.6s 1s forwards ease-out;
  animation: spread-1 0.6s 1s forwards ease-out;
}
.card:nth-child(2) {
  -webkit-animation: spread-2 0.6s 1s forwards ease-out;
  animation: spread-2 0.6s 1s forwards ease-out;
}
.card:nth-child(3) {
  -webkit-animation: spread-3 0.6s 1s forwards ease-out;
  animation: spread-3 0.6s 1s forwards ease-out;
}
.card:nth-child(4) {
  -webkit-animation: spread-4 0.6s 1s forwards ease-out;
  animation: spread-4 0.6s 1s forwards ease-out;
}
.card:nth-child(5) {
  -webkit-animation: spread-5 0.6s 1s forwards ease-out;
  animation: spread-5 0.6s 1s forwards ease-out;
}

@-webkit-keyframes spread {
  to {
    -webkit-transform: rotate(-10deg);
  }
}
@keyframes spread {
  to {
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes spread-1 {
  to {
    -webkit-transform: rotate(-24deg);
  }
}
@keyframes spread-1 {
  to {
    transform: rotate(-24deg);
  }
}
@-webkit-keyframes spread-2 {
  to {
    -webkit-transform: rotate(-12deg);
  }
}
@keyframes spread-2 {
  to {
    transform: rotate(-12deg);
  }
}
@-webkit-keyframes spread-3 {
  to {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spread-3 {
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spread-4 {
  to {
    -webkit-transform: rotate(12deg);
  }
}
@keyframes spread-4 {
  to {
    transform: rotate(12deg);
  }
}
@-webkit-keyframes spread-5 {
  to {
    -webkit-transform: rotate(24deg);
  }
}
@keyframes spread-5 {
  to {
    transform: rotate(24deg);
  }
}
