//Variables are located in my personal template file located here: https://dl.dropbox.com/s/w9ywuzlvqvv7kln/codepen-template.scss
$teal: #4e9398;
body{
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Catamaran', sans-serif;
	line-height: 1;
}

header, footer{
	width: 100%;
	display: block;
	height: 100px; 
	background: #f6f6f6;
	margin-bottom: 5rem;
}
footer{
	margin: 5rem 0 0;
}
main{
	width: 95%;
	margin: 0 auto;
	@media (min-width: 600px){
		width: 85%;
	}
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	li{
		box-sizing: border-box;
		@include column(12);
		display: flex;
		position: relative;
		padding: 3rem 0;
		align-items: flex-end;
		@media (min-width: 400px){
			@include column(6);
			padding: 5rem 0;
		}
		@media (min-width: 600px){
			@include column(4);
			display: flex;
			padding: 3rem 0;
		}
		.portrait{
			pointer-events: none;
			position: absolute;
			width: 75%;
			top: 50%;
			left: 3rem;
			transform: translateY(-55%) scale(0.95);	
			opacity: 0;
			transition: all 150ms ease-in-out;
			max-width: 300px;
			@media (min-width: 600px){
				width: 50%
			}
			@media (min-width: 800px){
				width: 35%
			}
		}
	}
	h2{
		font-size: 3rem;
		text-transform: uppercase;
		letter-spacing: -2px;
		margin-top: 0;
		margin-bottom: -9px;
		@media(min-width: 400px){
			font-size: 2rem;
		}
		@media(min-width: 800px){
			font-size: 3rem;
		}
}
	.name{
		position: relative;
		font-family: 'Roboto Mono', monospace;
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		&:after{
			content: "";
			border-bottom: 3px solid $teal;
			box-shadow: inset 0 -1px 0 $teal;
			transition: box-shadow .15s cubic-bezier(.33,.66,.66,1);
			display: inline-block;
			position: absolute;
			bottom: -5px;
			left: 0;
			display: block;
			width: 100%;
			min-height: 2rem;
			z-index: -1;
		}
		&:hover, &:focus, &:active{
			&:after{
				box-shadow: inset 0 -9px 0 $teal;
				border-bottom: 3px solid #4e9398;
			}
		}
	}

	a,
	a:visited,
	a:hover, 
	a:focus, 
	a:active{
		text-decoration: none;
		cursor: pointer;
		color: #000;
		
	}
}