Hát így történt, hogy cselekvéseinktől függetlenül a hatalom feülírta életünk alakulásást.
Soha senkinek ne hidd el azt az idiótaságot, hogy mindenki a maga sorsának kovácsa, azonban ez nem zárja ki azt, hogy mindenki a maga sorsáért egyedül felel drága barátom
