a.button.me(href="http://codepen.io/chrissimmons/" target="_blank" title="Click for free pizza!")
#wrapper
	.ceiling
	.leftWall
		.door
			.panel
			.panel
			.knob
			.bottom
	.rightWall
	.floor
	#window
		.innerWindow
		.pane
		.pane
		.pane
		.pane2
		.pane2
		.pane2
	#window2
		.innerWindow2
		.pane
		.pane
		.pane2
		.pane2
	#bed
		.pillow
		.topper
		.legs
		.legs