/**
 * Keyframes.
 */
@-webkit-keyframes rise {
  0% {
    margin-top: 100%;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    margin-top: -50px;
    opacity: 0;
  }
}
@keyframes rise {
  0% {
    margin-top: 100%;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    margin-top: -50px;
    opacity: 0;
  }
}
@-webkit-keyframes sway {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: -36px;
  }
  25% {
    margin-left: -40px;
  }
  70% {
    margin-left: 36px;
  }
  75% {
    margin-left: 40px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes sway {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: -28px;
  }
  25% {
    margin-left: -30px;
  }
  70% {
    margin-left: 28px;
  }
  75% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
body {
  margin: 0;
  padding: 0;
}

#container {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNlZmMxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(59%, #ffffff), color-stop(100%, #b3efc1));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ffffff 59%, #b3efc1 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 59%, #b3efc1 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 59%, #b3efc1 100%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFB3EFC1');
}

.wrapper {
  -webkit-animation: sway 8s ease-in-out infinite;
  animation: sway 8s ease-in-out infinite;
  position: relative;
}

.wrapper-1 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.wrapper-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.wrapper-3 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.wrapper-4 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.wrapper-5 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.wrapper-6 {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.wrapper-7 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.wrapper-8 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.wrapper-9 {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.wrapper-10 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.wrapper-11 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.wrapper-12 {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.wrapper-13 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wrapper-14 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.wrapper-15 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.wrapper-16 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.wrapper-17 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.wrapper-18 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.wrapper-19 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.wrapper-20 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.wrapper-21 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.wrapper-22 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.wrapper-23 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.wrapper-24 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.wrapper-25 {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.wrapper-26 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.wrapper-27 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.wrapper-28 {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.wrapper-29 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.wrapper-30 {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.wrapper-31 {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.wrapper-32 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.wrapper-33 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.wrapper-34 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.wrapper-35 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wrapper-36 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.wrapper-37 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.wrapper-38 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.wrapper-39 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.circle {
  background-color: #1a3;
  opacity: 1;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.circle-1 {
  -webkit-animation: rise 4.5s linear infinite;
  animation: rise 4.5s linear infinite;
  height: 42px;
  left: calc(34%);
  top: calc(100% + 46px);
  width: 42px;
}

.circle-2 {
  -webkit-animation: rise 5.5s linear infinite;
  animation: rise 5.5s linear infinite;
  height: 24px;
  left: calc(35%);
  top: calc(100% + 125px);
  width: 24px;
}

.circle-3 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 43px;
  left: calc(11%);
  top: calc(100% + 157px);
  width: 43px;
}

.circle-4 {
  -webkit-animation: rise 6s linear infinite;
  animation: rise 6s linear infinite;
  height: 34px;
  left: calc(8%);
  top: calc(100% + 149px);
  width: 34px;
}

.circle-5 {
  -webkit-animation: rise 6s linear infinite;
  animation: rise 6s linear infinite;
  height: 11px;
  left: calc(48%);
  top: calc(100% + 183px);
  width: 11px;
}

.circle-6 {
  -webkit-animation: rise 3s linear infinite;
  animation: rise 3s linear infinite;
  height: 40px;
  left: calc(82%);
  top: calc(100% + 62px);
  width: 40px;
}

.circle-7 {
  -webkit-animation: rise 5s linear infinite;
  animation: rise 5s linear infinite;
  height: 39px;
  left: calc(86%);
  top: calc(100% + 120px);
  width: 39px;
}

.circle-8 {
  -webkit-animation: rise 5s linear infinite;
  animation: rise 5s linear infinite;
  height: 49px;
  left: calc(32%);
  top: calc(100% + 72px);
  width: 49px;
}

.circle-9 {
  -webkit-animation: rise 3s linear infinite;
  animation: rise 3s linear infinite;
  height: 11px;
  left: calc(61%);
  top: calc(100% + 124px);
  width: 11px;
}

.circle-10 {
  -webkit-animation: rise 7.5s linear infinite;
  animation: rise 7.5s linear infinite;
  height: 42px;
  left: calc(42%);
  top: calc(100% + 25px);
  width: 42px;
}

.circle-11 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 31px;
  left: calc(27%);
  top: calc(100% + 79px);
  width: 31px;
}

.circle-12 {
  -webkit-animation: rise 5s linear infinite;
  animation: rise 5s linear infinite;
  height: 28px;
  left: calc(24%);
  top: calc(100% + 147px);
  width: 28px;
}

.circle-13 {
  -webkit-animation: rise 5s linear infinite;
  animation: rise 5s linear infinite;
  height: 50px;
  left: calc(41%);
  top: calc(100% + 132px);
  width: 50px;
}

.circle-14 {
  -webkit-animation: rise 4s linear infinite;
  animation: rise 4s linear infinite;
  height: 14px;
  left: calc(17%);
  top: calc(100% + 77px);
  width: 14px;
}

.circle-15 {
  -webkit-animation: rise 5s linear infinite;
  animation: rise 5s linear infinite;
  height: 18px;
  left: calc(87%);
  top: calc(100% + 58px);
  width: 18px;
}

.circle-16 {
  -webkit-animation: rise 5.5s linear infinite;
  animation: rise 5.5s linear infinite;
  height: 36px;
  left: calc(36%);
  top: calc(100% + 197px);
  width: 36px;
}

.circle-17 {
  -webkit-animation: rise 5.5s linear infinite;
  animation: rise 5.5s linear infinite;
  height: 30px;
  left: calc(16%);
  top: calc(100% + 87px);
  width: 30px;
}

.circle-18 {
  -webkit-animation: rise 7.5s linear infinite;
  animation: rise 7.5s linear infinite;
  height: 17px;
  left: calc(73%);
  top: calc(100% + 72px);
  width: 17px;
}

.circle-19 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 11px;
  left: calc(47%);
  top: calc(100% + 93px);
  width: 11px;
}

.circle-20 {
  -webkit-animation: rise 6.5s linear infinite;
  animation: rise 6.5s linear infinite;
  height: 20px;
  left: calc(77%);
  top: calc(100% + 102px);
  width: 20px;
}

.circle-21 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 44px;
  left: calc(4%);
  top: calc(100% + 188px);
  width: 44px;
}

.circle-22 {
  -webkit-animation: rise 6s linear infinite;
  animation: rise 6s linear infinite;
  height: 39px;
  left: calc(76%);
  top: calc(100% + 155px);
  width: 39px;
}

.circle-23 {
  -webkit-animation: rise 6.5s linear infinite;
  animation: rise 6.5s linear infinite;
  height: 23px;
  left: calc(73%);
  top: calc(100% + 84px);
  width: 23px;
}

.circle-24 {
  -webkit-animation: rise 7.5s linear infinite;
  animation: rise 7.5s linear infinite;
  height: 32px;
  left: calc(94%);
  top: calc(100% + 179px);
  width: 32px;
}

.circle-25 {
  -webkit-animation: rise 4s linear infinite;
  animation: rise 4s linear infinite;
  height: 36px;
  left: calc(95%);
  top: calc(100% + 40px);
  width: 36px;
}

.circle-26 {
  -webkit-animation: rise 5s linear infinite;
  animation: rise 5s linear infinite;
  height: 11px;
  left: calc(20%);
  top: calc(100% + 16px);
  width: 11px;
}

.circle-27 {
  -webkit-animation: rise 5.5s linear infinite;
  animation: rise 5.5s linear infinite;
  height: 45px;
  left: calc(45%);
  top: calc(100% + 106px);
  width: 45px;
}

.circle-28 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 25px;
  left: calc(68%);
  top: calc(100% + 64px);
  width: 25px;
}

.circle-29 {
  -webkit-animation: rise 3s linear infinite;
  animation: rise 3s linear infinite;
  height: 24px;
  left: calc(59%);
  top: calc(100% + 200px);
  width: 24px;
}

.circle-30 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 35px;
  left: calc(91%);
  top: calc(100% + 3px);
  width: 35px;
}

.circle-31 {
  -webkit-animation: rise 7s linear infinite;
  animation: rise 7s linear infinite;
  height: 39px;
  left: calc(99%);
  top: calc(100% + 99px);
  width: 39px;
}

.circle-32 {
  -webkit-animation: rise 6s linear infinite;
  animation: rise 6s linear infinite;
  height: 16px;
  left: calc(34%);
  top: calc(100% + 187px);
  width: 16px;
}

.circle-33 {
  -webkit-animation: rise 5.5s linear infinite;
  animation: rise 5.5s linear infinite;
  height: 14px;
  left: calc(71%);
  top: calc(100% + 28px);
  width: 14px;
}

.circle-34 {
  -webkit-animation: rise 7.5s linear infinite;
  animation: rise 7.5s linear infinite;
  height: 35px;
  left: calc(39%);
  top: calc(100% + 133px);
  width: 35px;
}

.circle-35 {
  -webkit-animation: rise 4s linear infinite;
  animation: rise 4s linear infinite;
  height: 17px;
  left: calc(87%);
  top: calc(100% + 112px);
  width: 17px;
}

.circle-36 {
  -webkit-animation: rise 7.5s linear infinite;
  animation: rise 7.5s linear infinite;
  height: 28px;
  left: calc(22%);
  top: calc(100% + 3px);
  width: 28px;
}

.circle-37 {
  -webkit-animation: rise 6.5s linear infinite;
  animation: rise 6.5s linear infinite;
  height: 36px;
  left: calc(80%);
  top: calc(100% + 58px);
  width: 36px;
}

.circle-38 {
  -webkit-animation: rise 7.5s linear infinite;
  animation: rise 7.5s linear infinite;
  height: 39px;
  left: calc(37%);
  top: calc(100% + 147px);
  width: 39px;
}

.circle-39 {
  -webkit-animation: rise 4.5s linear infinite;
  animation: rise 4.5s linear infinite;
  height: 31px;
  left: calc(75%);
  top: calc(100% + 147px);
  width: 31px;
}
