html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #EEE;
}

.ctr {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  line-height: 400px;
  text-align: center;
}

.a, .b {
  height: 198px;
  width: 198px;
  border: 2px solid #333;
  position: absolute;
  top: 100px;
  left: 100px;
    transition: all 20s;
  transform: translate(0,0);
}

.a {
  transform: rotate(-900deg);
}

.b {
  transform: rotate(945deg);
}

.btn {
  height: 202px;
  width: 202px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #333;
  border-radius: 200px;
  transform: scale(0.5);
  transition: all 20s;
  z-index: 999;
  opacity: 1;
}

.btn:hover {
  transform: scale(1);
  border-radius: 0;
  transition-delay: 2s;
  opacity: 0.1;
}

.btn:hover ~ .a, .btn:hover ~ .b {
  transform: rotate(0);
  transition: all 20s;
}


.cf {
  height: 162px;
  width: 162px;
  margin: auto;
  border-radius: 101px;
  transform: scale(0);
  transition: all 30s;
  border: 20px solid #00ffe5;
  background-color: #333;
  opacity: 1;
}

.btn:hover > .cf {
  transform: scale(5);
  border: 20px solid #1CCAD8;
  background-color: #15E6CD;
  opacity: 0;
}

.dt {
  position: fixed;
  top: -100px;
  left: 0px;
  width: 100%;
  transition: all 20s;
  transform: scale(1) rotate(0deg);
  opacity: 0;
}

.btn:hover ~ .dt {
  transform: scale(2) rotate(900deg);
  opacity: 1;
}