html, body, div, span, canvas { margin:0; padding:0; }
#container {
  overflow:hidden;
  position:relative;
  height: 100%;
  width: 100%;
  background:-o-linear-gradient(top, #000, #257eb7);
	background:-ms-linear-gradient(top, #000, #257eb7);
	background:-moz-linear-gradient(top, #000, #257eb7);
	background:-webkit-linear-gradient(top, #000, #021522);
 	background:linear-gradient(top, #000, #257eb7);	   
      filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
}

#pixie {
  z-index:10;
  position: absolute;
  top: 0;
  left: 0;
}