$duration: 20s; // matches source gif timing, but feel free to mess with this value

///

@keyframes spinZ {
    0%   { transform: rotateZ(0deg);   }
    100% { transform: rotateZ(360deg); }
}

///

.container {
    // stretching to cover viewport, because...
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:nth-child(1) {
        // ...this is key to making `mix-blend-mode` behave as desired
        background-color: white;
    }
    
    &:nth-child(2) {
        color: white;
    }
}

.block {
    width: 20vh;
    height: 10vh;
    
    background-color: currentColor; // easier to tinker with colors above
    mix-blend-mode: difference;
    
    animation: spinZ $duration infinite linear;
    
    // from 2 because first block gets default `animation-duration`
    // through 7 because matches number of elements in HTML panel
    @for $i from 2 through 7 {
        &:nth-child(#{$i}) {
            animation-duration: ($duration / $i);
        }
    }
}